<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0M7_4LtWpYCuBUo8uBvXKc7rJrNcR2ng</string>
	<key>GCM_SENDER_ID</key>
	<string>814762444234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.chatx</string>
	<key>PROJECT_ID</key>
	<string>chatx-8b91a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatx-8b91a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814762444234:ios:dbc87472c288dbf3297b33</string>
</dict>
</plist>